Flask==0.10.1
Jinja2==2.7.1
MarkupSafe==0.18
PyYAML==3.10
SQLAlchemy==0.9.1
Werkzeug==0.9.4
awscli==1.2.10
bcdoc==0.12.0
botocore==0.30.0
colorama==0.2.7
distribute==0.6.34
docutils==0.11
gunicorn==18.0
itsdangerous==0.23
jmespath==0.2.1
lxml==3.2.4
ply==3.4
psycopg2==2.5.2
pyasn1==0.1.7
pygal==1.2.1
python-dateutil==2.2
requests==2.2.0
rsa==3.1.2
six==1.5.2
