html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

.weight-form {
    margin-bottom: 20px;
}

.weight-table th {
    text-align: center;
}

#head-icon {
    width: 20px;
    height: 20px;
    margin-top: -3px;
}

.navbar {
    min-height: 0;
    border-radius: 0;
}

.navbar-brand {
    padding: 8px 15px;
}

.weight-value {
    border-bottom: 0 !important;
    color: inherit;
}

.editableform .form-control {
    width: 80px;
}

.navbar-nav > li > a {
    padding: 8px 15px;
}

@media (max-width: 767px) {
    .navbar-brand {
        font-size: 12px;
        padding: 4px 10px;
    }

    .navbar-inverse .navbar-brand {
        color: #fff;
    }

    .navbar-header {
        display: inline-block;
        float: left;
    }

    .nav > li {
        display: inline-block;
    }

    .navbar-nav > li > a {
        font-size: 12px;
        padding: 4px 6px 4px 4px;
    }

    .navbar-nav {
        display: inline-block;
        float: right;
        margin: 0 -15px;
    }

    .navbar-nav .open .dropdown-menu {
        position: absolute;
        min-width: 0;
        background-color: #000;
        right: 0;
        left: auto;
    }

    .navbar-nav .open .dropdown-menu > li > a {
        padding: 3px 15px;
    }

    .alert {
        padding: 10px;
    }

    .visible-xs {
        display: inline !important;
    }
    .hidden-xs {
        display: none!important;
    }

    #report-period-selector .btn-sm {
        font-size: 11px;
        padding: 3px;
    }
}

#chart-container {
    height: 400px;
    padding: 0;
}

#weight-table-container {
    padding-top: 20px;
}

#wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -30px;
    padding: 0 0 30px;
}

#footer {
    background-color: #f5f5f5;
    font-size: smaller;
    height: 30px;

}

.footer-copyright {
    width: 47%;
    margin-top: 8px !important;
}

.footer-icon-container {
    width: 6%;
    line-height: 0.5;
    margin-top: 3px !important;
}

.footer-lang-sel {
    width: 47%;
    margin-top: 4px !important;
}

.footer-lang-sel .dropdown-menu {
    min-width: 0;
}

#footer-icon {
    height: 20px;
    width: 20px;
    display: inline-block;
    background: transparent url('/static/img/bw-icon.png');
    margin-top: 3px;
}

.flag {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-bottom: -6px;
    line-height: 14px;
    background-repeat: no-repeat;
}

.flag-tr {
    background: transparent url('/static/img/flag-tr.png') no-repeat;
}

.flag-en {
    background: transparent url('/static/img/flag-en.png') no-repeat;
}

@media (min-width: 767px) {
        .hidden-xs {
        display: inline !important;
    }
}

#report-period-selector {
    margin-top: 10px;
    margin-bottom: 10px;
}