.weight-form {
    margin-bottom: 20px;
}

.weight-table th {
    text-align: center;
}

.navbar {
    min-height: 0;
}

.navbar-brand {
    padding: 8px 15px;
}

.weight-value {
    border-bottom: 0 !important;
    color: inherit;
}

.editableform .form-control {
    width: 80px;
}