{% extends "layout.html" %}
{% block body %}
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center weight-form">
        <form role="form" method="post" id="weight-form" action="{{ url_for('save_measurement') }}">
            <div class="form-group">
                <label for="input-date">Date</label>
                <input type="text" class="form-control" id="input-date" name="d" placeholder="Enter date"
                       data-value="{{ now.strftime('%Y-%m-%d') }}">
            </div>
            <div class="form-group">
                <label for="weight">Weight</label>
                <input type="text" class="form-control" id="weight" name="v" placeholder="Weight">
            </div>
            <button type="submit" id="submit-button" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-lg-offset-3 col-md-offset-3 col-sm-offset-3 text-center">
        <table class="table weight-table table-striped table-condensed">
            <tr>
                <th colspan="3">Last 7 days</th>
            </tr>
            <tr>
                <th>Date</th>
                <th>Weight</th>
                <th>Diff</th>
            </tr>
            {% for m in last_7_days %}
                <tr>
                    <td>{{ m.measurement_date.strftime('%Y-%m-%d') }}</td>
                    <td>{{ m.value }}</td>
                    <td class="{{ 'text-warning' if m.diff == 0 else ('text-success' if m.diff < 0 else 'text-danger') }}">
                        <span class="glyphicon glyphicon-{{ 'refresh' if m.diff == 0 else ('chevron-down' if m.diff < 0 else 'chevron-up') }}"></span> {{ "%.1f"|format(m.diff) }} kg</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
