{% import 'flash_messages.html' as fl %}
<!doctype html>
<html>
<head>
    <title>WeightMon - {% block page_title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex, nofollow">
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link rel="apple-touch-icon" sizes="144x144"
          href="{{ url_for('static', filename='img/apple-touch-icon-precomposed.png') }}"/>
    {% assets 'all_css' %}
        <link rel=stylesheet type=text/css href="{{ ASSET_URL }}">{% endassets %}
</head>
<body>
<div id="wrap">
    <div class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header navbar-left">
                <a class="navbar-brand" href="/"><img id="head-icon" src="/static/img/head-icon.png"> Weight Monitor</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                {% if g.user and g.user.is_authenticated() %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ g.user.first_name }} <b
                                class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url_for('fitbit_connect') }}">{{ _('Connect Fitbit') }}</a></li>
                            <li><a href="{{ url_for('logout') }}">{{ _('Logout') }}</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li><a href="{{ url_for('login') }}">{{ _('Login') }}</a></li>
                    <li><a href="{{ url_for('register') }}">{{ _('Register') }}</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="container">
        {{ fl.render_flash_messages() }}
        {% block body %}{% endblock %}
    </div>
</div>
<div id="footer">
    <div class="container">
        <span class="footer-copyright pull-left">© 2014 <a class="visible-xs" target="_blank" href="https://github.com/vape/weight-monitor">@vape</a> <a class="hidden-xs" target="_blank" href="https://github.com/vape/weight-monitor">Taylan Aydınlı</a></span>
        <span class="footer-icon-container pull-left text-center"><a href="/" title="WeightMon" id="footer-icon"></a></span>
        <span class="footer-lang-sel pull-right">
            <div class="btn-group dropup pull-right">
              <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">{{ _('Language') }} <span class="caret"></span></button>
              <ul class="dropdown-menu">
                  {% for l in LANGUAGES %}
                      <li><a href="{{ url_for_lang(l) }}"><i class="flag flag-{{ l }}"></i> {{ lang_name(l) }}</a></li>
                  {% endfor %}
              </ul>
            </div>
        </span>
    </div>
</div>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
{% assets 'all_js' %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>{% endassets %}
</body>
</html>
